<div class="container">
  <header class="navbar fixed-top purple">
      
      <a class="navbar-brand header-link antiqueWhite" href="#!">
        <img width="35" height="35" src="assets/location-unavailable.svg"/>
        <span>NextHoliday</span></a>
    <ul class="navbar-nav">
      <li class="nav-item">
        
        <a class="header-link antiqueWhite" href="#">My Next Holiday</a>
      </li>
    </ul>
  </header>


    
    <div class="content">

      <router-outlet ></router-outlet>
      
         
      
    </div>
     




</div>